.container {
    display: grid;
    gap: 6px;
    width: max-content;
    grid-auto-rows: minmax(200px, auto);
    grid-auto-columns: minmax(200px, auto);
}

.box {
    font-size: 30px;
    background-color: #0170c1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}